@import '../../styles/variables';

.Posts {
  background-color: $plaster;
  background-image: linear-gradient(90deg, $noble-black-5 1px, transparent 1px),
    linear-gradient($noble-black-5 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 100px 0 59px;
  color: $dynamic-black;

  &-title {
    width: 1161px;
    margin: 0 auto;
    font-size: 48px;
    margin-bottom: 21px;
  }
  &-separator {
    width: 1161px;
    height: 1px;
    margin: 0 auto 59px;
    background-color: $dynamic-black;
  }
  &-button {
    display: block;
    margin: -20px auto 0;
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 30px;
    color: $dynamic-black;
    border: none;
    background-color: transparent;
    line-height: 80px;
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0px;
      height: 1px;
      background-color: $dynamic-black;
      transition: 0.3s;
    }

    &::before {
      bottom: -1px;
      left: 50%;
    }
    &::after {
      bottom: -1px;
      right: 50%;
    }

    &:hover {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }

  .Post {
    position: relative;
    height: 301px;
    min-width: 1161px;
    margin-bottom: 59px;

    &-container {
      position: relative;
      z-index: 1;
      width: 881px;
      height: 100%;
      margin: 0 auto;
      display: flex;

      &-image {
        position: relative;
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 205px;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: $dynamic-black;
          z-index: 2;
        }

        &::before {
          top: 0;
          left: -20px;
          width: 81px;
          height: 1px;
        }

        &::after {
          top: -20px;
          left: 0px;
          width: 1px;
          height: 41px;
        }
      }

      &-separator {
        height: 221px;
        width: 1px;
        background-color: $dynamic-black;
        margin-top: 40px;
      }

      &-infos {
        position: relative;
        width: 520px;
        height: 100%;
        padding: 80px 40px;

        h3 {
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 22px;
          text-transform: uppercase;
        }

        p {
          font-size: 18px;
          margin-top: -1px;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: $dynamic-black;
          z-index: 2;
        }

        &::before {
          bottom: 0;
          right: -20px;
          width: 81px;
          height: 1px;
        }

        &::after {
          bottom: -20px;
          right: 0;
          width: 1px;
          height: 41px;
        }
      }

      &-colors {
        display: flex;
        gap: 21px;
        position: absolute;
        bottom: 41px;
        right: 41px;
      }
    }

    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 40%;
    }
  }

  @media screen and (max-width: 1200px) {
    &-title,
    &-separator {
      width: 881px;
    }

    .Post {
      min-width: 881px;
    }
  }

  @media screen and (max-width: 1000px) {
    &-title,
    &-separator {
      width: 700px;
    }
    .Post {
      min-width: 650px;

      &-container {
        width: 650px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    padding: 40px 0;

    &-title,
    &-separator {
      width: 440px;
    }
    &-title {
      font-size: 40px;
    }

    .Post {
      min-width: 440px;
      height: 221px;

      &-container {
        width: 440px;

        &-image {
          width: 159px;
          padding: 20px;

          img {
            width: 100%;
            height: auto;
            max-height: 100%;
          }

          &::before {
            width: 41px;
          }
        }
        &-separator {
          margin-top: 20px;
          height: 181px;
        }
        &-infos {
          width: 280px;
          padding: 20px;

          &::before {
            width: 41px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding: 20px 0;
    &-title,
    &-separator {
      width: 330px;
    }
    &-title {
      font-size: 28px;
    }
    &-separator {
      margin-bottom: 39px;
    }
    &-button {
      font-size: 24px;
      line-height: 78px;
    }

    .Post {
      min-width: 100vw;
      height: 181px;
      margin-bottom: 39px;

      &-container {
        width: calc(100vw - 40px);

        &-image {
          width: 79px;
          padding: 10px 0;

          &::after {
            display: none;
          }
        }
        &-infos {
          // width: 280px;
          padding: 20px 0 20px 20px;

          h3 {
            font-size: 28px;
            margin-bottom: 4px;
          }

          p {
            font-size: 15px;
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
