@import '../../styles/variables';

.Hero {
  height: 100dvh;
  min-height: 750px;
  min-width: 950px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;

  &-section {
    width: 802px;
    height: 522px;
    border: 1px solid $white;
    background-color: $noble-black-90;
    background-image: linear-gradient(90deg, $white-5 1px, transparent 1px),
      linear-gradient($white-5 1px, transparent 1px);
    background-size: 20px 20px;
    color: $white;
    display: flex;

    &-left,
    &-right {
      position: relative;
      height: 100%;
      padding: 40px;

      p {
        padding-top: 1px;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 50px;
        aspect-ratio: 1;
      }
    }

    &-left {
      width: 380px;
      text-align: center;

      .Pokemon {
        &-name {
          font-size: 48px;
          margin-bottom: 60px;
          text-transform: uppercase;
        }

        &-image {
          height: 320px !important;
        }
      }

      &::before {
        top: -51px;
        left: -51px;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
      }
      &::after {
        bottom: -51px;
        left: -51px;
        border-right: 1px solid $white;
        border-top: 1px solid $white;
      }
    }
    &-right {
      width: 419px;

      .Pokemon {
        &-section {
          font-size: 40px;
          margin-bottom: 21px;

          &:last-of-type {
            margin-bottom: 22px;
          }
        }

        &-attack {
          display: flex;
          justify-content: space-between;
          line-height: 19px;
          font-size: 20px;
          font-weight: 700;

          &:last-of-type {
            margin-top: 20px;
          }
        }
      }

      &::before {
        top: -51px;
        right: -51px;
        border-left: 1px solid $white;
        border-bottom: 1px solid $white;
      }
      &::after {
        bottom: -51px;
        right: -51px;
        border-left: 1px solid $white;
        border-top: 1px solid $white;
      }
    }

    &-separator {
      width: 1px;
      height: 441px;
      background-color: $white-50;
      margin-top: 40px;
    }
    &-line {
      width: calc(100% + 2px);
      height: 1px;
      background-color: $white-50;
      margin: 39px 0 19px;
      transform: translateX(-1px);
    }
  }

  @media screen and (max-width: 1000px) {
    min-width: 700px;
    padding-top: 120px;

    &-section {
      width: 602px;
      height: 562px;

      &-left {
        width: 280px;
      }

      &-right .Pokemon-section:last-of-type {
        margin-top: 19px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    min-width: 450px;
    padding-top: 90px;
    min-height: 850px;

    &-section {
      width: 450px;
      height: 700px;
      flex-direction: column;

      &-left,
      &-right {
        padding: 20px;
        height: auto;
      }

      &-left {
        width: 100%;
        height: 300px;

        &::before {
          width: 20px;
          top: -21px;
          left: -21px;
          border-right: 1px solid $white;
          border-bottom: 1px solid $white;
        }
        &::after {
          width: 20px;
          top: -21px;
          bottom: auto;
          right: -21px;
          left: auto;
          border: none;
          border-left: 1px solid $white;
          border-bottom: 1px solid $white;
        }
      }

      &-right {
        width: 100%;
        padding-top: 0;
        height: 401px;

        &::before {
          width: 20px;
          bottom: -21px;
          top: auto;
          left: -21px;
          right: auto;
          border: none;
          border-right: 1px solid $white;
          border-top: 1px solid $white;
        }
        &::after {
          width: 20px;
          bottom: -21px;
          right: -21px;
          border-left: 1px solid $white;
          border-top: 1px solid $white;
        }
      }
      .Pokemon {
        &-name {
          margin-bottom: 20px;
        }
        &-image {
          height: 200px !important;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding-top: 80px;
    min-width: 0;
    width: 100%;
    min-height: auto;

    &-section {
      height: 540px;
      width: calc(100vw - 42px);

      &-left {
        height: 221px;
        padding-bottom: 0;

        .Pokemon {
          &-name {
            font-size: 32px;
            margin-bottom: 0px;
          }
          &-image {
            height: 159px !important;
          }
        }
      }

      &-right {
        height: 319px;
        .Pokemon {
          &-section {
            font-size: 32px;
            margin-bottom: 21px;
          }

          &-section:first-of-type,
          &-attack {
            cursor: pointer;
          }

          &-description,
          &-attack-1,
          &-attack-2 {
            overflow: hidden;
            transition: 0.3s;

            &.active {
              height: 60px;
            }
            &.inactive {
              height: 0;
            }
          }

          &-description.active {
            height: 80px;
            @media screen and (max-width: 390px) {
              height: 100px;
            }
          }
        }
      }
    }
  }
}
