// Fonts
$title-font: 'Trochut', display !important;
$main-font: 'Philosopher', sans-serif !important;

// Couleurs
$white: #ffffff;
$white-5: hsla(0, 0%, 100%, 0.05);
$white-50: hsla(0, 0%, 100%, 0.5);
$dynamic-black: #1e1e1e;
$noble-black: #202124;
$noble-black-90: hsla(225, 6%, 13%, 0.9);
