@use 'reset';
@import 'variables';

* {
  box-sizing: border-box;
  &::before,
  &::after {
    font-family: $title-font;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: $main-font;
}
